<footer>
    <!-- Footer Start-->
    <div class="footer-main" >
        <div class="footer-bottom-area" style="background-color:midnightblue;">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>
                                    LOGO | İş Yazılım
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
